absl-py 
aiohttp 
argon2-cffi 
astor==0.8.1
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
attrs 
backcall==0.2.0
bleach 
blinker==1.4
brotlipy==0.7.0
cachetools 
certifi==2020.6.20
cffi 
chardet==3.0.4
click==7.1.2
cloudant==2.13.0
colorama 
cryptography 
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
emoji==0.6.0
entrypoints==0.3
Flask==1.1.2
future==0.18.2
gast==0.3.3
google-auth 
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
grpcio 
h5py==2.10.0
idna 
importlib-metadata 
ipykernel 
ipython 
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi 
Jinja2==2.11.2
joblib 
jsonschema 
jupyter-client 
jupyter-core==4.6.3
jupyterlab-pygments 
jupyterthemes==0.20.0
Keras-Applications 
Keras-Preprocessing==1.1.2
keras-tuner==1.0.1
kiwisolver==1.2.0
lesscpy==0.14.0
Markdown 
MarkupSafe 
matplotlib 
mistune 
multidict 
nb-conda==2.2.1
nb-conda-kernels 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
nltk 
notebook 
numpy==1.18.5
oauthlib==3.1.0
olefile==0.46
opt-einsum==3.1.0
packaging==20.4
pandas 
pandocfilters==1.4.2
parso==0.7.0
pickleshare 
Pillow 
ply==3.11
prometheus-client==0.8.0
prompt-toolkit 
protobuf==3.13.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser 
Pygments 
PyJWT==1.7.1
pyOpenSSL
pyparsing==2.4.7
pyreadline==2.1
pyrsistent 
PySocks 
python-dateutil==2.8.1
pytz==2020.1
pywin32==227
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.2
regex==2020.10.28
requests 
requests-oauthlib==1.3.0
rsa 
scikit-learn 
scipy 
seaborn 
Send2Trash==1.5.0
six==1.15.0
tabulate==0.8.7
tensorboard==2.3.0
tensorboard-plugin-wit==1.6.0
tensorflow==2.3.1
tensorflow-docs 
tensorflow-estimator==2.3.0
termcolor==1.1.0
terminado==0.9.1
terminaltables==3.1.0
testpath==0.4.4
threadpoolctl 
tornado==6.0.4
tqdm==4.51.0
traitlets 
urllib3 
wcwidth 
webencodings==0.5.1
Werkzeug==0.16.1
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.12.1
yarl 
zipp 
